version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    container_name: unibenengvault_backend
    restart: always
    ports:
      - "80:8000"
    env_file:
      - ./backend/.env
    depends_on: []
