
.header{
  background-color: var(--color-primary);
  padding: var(--space-md);
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h5{
  color: var(--color-white);
  font-size: var(--text-h4);
}

.btn-logout{
  width: 10rem;
  height: 70%;
  margin-right: 5rem;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  box-shadow: 2px 2px var(--color-grey);
}

.btn-logout button{
  font-size: var(--text-base);
  font-weight: var(--font-weight-semibold);
  color: var(--color-primary);
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
