

.sidebar-nav{
  height: 100%;
  padding: var(--space-2xl) var(--space-3xl);
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.main-nav {
  position: relative;
}

.main-nav > li {
  position: relative; /* parent for dropdown positioning */
  padding: var(--space-md) var(--space-2xl);
  cursor: pointer;
}

/* Hide dropdown by default */
.inner-nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border: 1px solid var(--color-grey);
  padding: var(--space-md) var(--space-xl);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

/* Show dropdown when hovering over parent */
.main-nav > li:hover > .inner-nav {
  display: block;
}

.inner-nav li {
  padding: 0.5rem 1rem;
}

.inner-nav a {
  color: #07024C;
}

.inner-nav a:hover {
  color: #807AD8;
}

