
/* ------------------------------ BORDER UTILITIES ------------------------------ */

/* --- BORDER WIDTH --- */
/* BORDER - ALL SIDES */
.border-1 { border-width: var(--border-1); }  /* 1px */
.border-2 { border-width: var(--border-2); }  /* 2px */
.border-3 { border-width: var(--border-3); }  /* 3px */
.border-4 { border-width: var(--border-4); }  /* 4px */
.border-5 { border-width: var(--border-5); }  /* 5px */
.border-0 { border-width: 0; }

/* BORDER TOP */
.border-t-1 { border-top-width: var(--border-1); }
.border-t-2 { border-top-width: var(--border-2); }
.border-t-3 { border-top-width: var(--border-3); }
.border-t-4 { border-top-width: var(--border-4); }
.border-t-5 { border-top-width: var(--border-5); }

/* BORDER BOTTOM */
.border-b-1 { border-bottom-width: var(--border-1); }
.border-b-2 { border-bottom-width: var(--border-2); }
.border-b-3 { border-bottom-width: var(--border-3); }
.border-b-4 { border-bottom-width: var(--border-4); }
.border-b-5 { border-bottom-width: var(--border-5); }

/* BORDER LEFT */
.border-l-1 { border-left-width: var(--border-1); }
.border-l-2 { border-left-width: var(--border-2); }
.border-l-3 { border-left-width: var(--border-3); }
.border-l-4 { border-left-width: var(--border-4); }
.border-l-5 { border-left-width: var(--border-5); }

/* BORDER RIGHT */
.border-r-1 { border-right-width: var(--border-1); }
.border-r-2 { border-right-width: var(--border-2); }
.border-r-3 { border-right-width: var(--border-3); }
.border-r-4 { border-right-width: var(--border-4); }
.border-r-5 { border-right-width: var(--border-5); }

/* BORDER X - LEFT AND RIGHT */
.border-x-1 { 
  border-left-width: var(--border-1); 
  border-right-width: var(--border-1);
}
.border-x-2 { 
  border-left-width: var(--border-2); 
  border-right-width: var(--border-2);
}
.border-x-3 { 
  border-left-width: var(--border-3); 
  border-right-width: var(--border-3);
}
.border-x-4 { 
  border-left-width: var(--border-4); 
  border-right-width: var(--border-4);
}
.border-x-5 { 
  border-left-width: var(--border-5); 
  border-right-width: var(--border-5);
}


/* BORDER Y - TOP AND BOTTOM */
.border-y-1 { 
  border-top-width: var(--border-1); 
  border-bottom-width: var(--border-1);
}
.border-y-2 { 
  border-top-width: var(--border-2); 
  border-bottom-width: var(--border-2);
}
.border-y-3 { 
  border-top-width: var(--border-3); 
  border-bottom-width: var(--border-3);
}
.border-y-4 { 
  border-top-width: var(--border-4); 
  border-bottom-width: var(--border-4);
}
.border-y-5 { 
  border-top-width: var(--border-5); 
  border-bottom-width: var(--border-5);
}


/* --- BORDER STYLE --- */
.border-solid { border-style: solid; }
.border-dashed { border-style: dashed; }
.border-dotted { border-style: dotted; }
.border-none { border-style: none; }


/* --- BORDER COLOR --- */
.border-primary-light { border-color: var(--color-primary-light); }
.border-primary { border-color: var(--color-primary); }
.border-primary-dark { border-color: var(--color-primary-dark); }

.border-secondary-light { border-color: var(--color-secondary-light); }
.border-secondary { border-color: var(--color-secondary); }
.border-secondary-dark { border-color: var(--color-secondary-dark); }

.border-grey-light { border-color: var(--color-grey-light); }
.border-grey { border-color: var(--color-grey); }
.border-grey-dark { border-color: var(--color-grey-dark); }

.border-error { border-color: var(--color-error); }
.border-warn { border-color: var(--color-warn); }



/* ----------- DEFAULT BORDER UTILITY ----------- */
.border { border-width: var(--border-1); border-style: solid; border-color: var(--color-primary); }

.border-t { border-top-width: var(--border-1); border-top-style: solid; border-top-color: var(--color-primary); }
.border-b { border-bottom-width: var(--border-1); border-bottom-style: solid; border-bottom-color: var(--color-primary); }
.border-l { border-left-width: var(--border-1); border-left-style: solid; border-left-color: var(--color-primary); }
.border-r { border-right-width: var(--border-1); border-right-style: solid; border-right-color: var(--color-primary); }

.border-x { 
  border-left-width: var(--border-1); border-left-style: solid; border-left-color: var(--color-primary);
  border-right-width: var(--border-1); border-right-style: solid; border-right-color: var(--color-primary);
}
.border-y { 
  border-top-width: var(--border-1); border-top-style: solid; border-top-color: var(--color-primary);
  border-bottom-width: var(--border-1); border-bottom-style: solid; border-bottom-color: var(--color-primary);
}

.outline-none { outline: none; box-shadow: none; }


/* ----------- BORDER RADIUS ----------- */

/* ALL SIDES */
.rounded-none { border-radius: var(--radius-none); }
.rounded-5 { border-radius: var(--radius-5); } /* 0.5rem */
.rounded-10 { border-radius: var(--radius-10); } /* 1rem */
.rounded-25 { border-radius: var(--radius-25p); } /* 25% */
.rounded-50 { border-radius: var(--radius-50p); } /* 50% */

/* TOP-LEFT */
.rounded-tl-none { border-top-left-radius: var(--radius-none); }
.rounded-tl-5 { border-top-left-radius: var(--radius-5); }
.rounded-tl-10 { border-top-left-radius: var(--radius-10); }
.rounded-tl-25 { border-top-left-radius: var(--radius-25p); }
.rounded-tl-50 { border-top-left-radius: var(--radius-50p); }

/* TOP-RIGHT */
.rounded-tr-none { border-top-right-radius: var(--radius-none); }
.rounded-tr-5 { border-top-right-radius: var(--radius-5); }
.rounded-tr-10 { border-top-right-radius: var(--radius-10); }
.rounded-tr-25 { border-top-right-radius: var(--radius-25p); }
.rounded-tr-50 { border-top-right-radius: var(--radius-50p); }

/* BOTTOM-LEFT */
.rounded-bl-none { border-bottom-left-radius: var(--radius-none); }
.rounded-bl-5 { border-bottom-left-radius: var(--radius-5); }
.rounded-bl-10 { border-bottom-left-radius: var(--radius-10); }
.rounded-bl-25 { border-bottom-left-radius: var(--radius-25p); }
.rounded-bl-50 { border-bottom-left-radius: var(--radius-50p); }

/* BOTTOM-RIGHT */
.rounded-br-none { border-bottom-right-radius: var(--radius-none); }
.rounded-br-5 { border-bottom-right-radius: var(--radius-5); }
.rounded-br-10 { border-bottom-right-radius: var(--radius-10); }
.rounded-br-15 { border-bottom-right-radius: var(--radius-15); }
.rounded-br-20 { border-bottom-right-radius: var(--radius-20); }
.rounded-br-25 { border-bottom-right-radius: var(--radius-25p); }
.rounded-br-50 { border-bottom-right-radius: var(--radius-50p); }

