
/* ---------------------- WIDTH UTILITIES ---------------------- */

/* REM */
.w-1 { width: var(--space-20); }  /* 25rem */
.w-2 { width: var(--space-21); }  /* 30rem */
.w-3 { width: var(--space-22); }  /* 40rem */
.w-4 { width: var(--space-23); }  /* 50rem */
.w-5 { width: var(--space-24); }  /* 100rem */
.w-6 { width: var(--space-25); }  /* 125rem */
.w-7 { width: var(--space-26); }  /* 150rem */

/* PERCENTAGE */
.w-25  { width: var(--w-25); }    /* 25% */
.w-50  { width: var(--w-50); }    /* 50% */
.w-75  { width: var(--w-75); }    /* 75% */
.w-95  { width: var(--w-95); }    /* 95% */
.w-100 { width: var(--w-100); }   /* 100% */

/* VIEW WIDTH AND AUTO */
.w-screen { width: var(--vw-100); } /* 100vw */
.w-auto   { width: var(--auto); }   /* auto */


/* ---------- MAX WIDTH UTILITIES ---------- */
.max-w-1 { max-width: var(--space-20); }
.max-w-2 { max-width: var(--space-21); }
.max-w-3 { max-width: var(--space-22); }
.max-w-4 { max-width: var(--space-23); }
.max-w-5 { max-width: var(--space-24); }
.max-w-6 { max-width: var(--space-25); }
.max-w-7 { max-width: var(--space-26); }

.max-w-full   { max-width: var(--w-100); }
.max-w-screen { max-width: var(--vw-100); }

/* ---------- MIN WIDTH UTILITIES ---------- */
.min-w-1 { min-width: var(--space-20); }
.min-w-2 { min-width: var(--space-21); }
.min-w-3 { min-width: var(--space-22); }
.min-w-4 { min-width: var(--space-23); }
.min-w-5 { min-width: var(--space-24); }
.min-w-6 { min-width: var(--space-25); }
.min-w-7 { min-width: var(--space-26); }



/* ---------------------- HEIGHT UTILITIES ---------------------- */

/* REM */
.h-1 { height: var(--space-20); }  /* 25rem */
.h-2 { height: var(--space-21); }  /* 30rem */
.h-3 { height: var(--space-22); }  /* 40rem */
.h-4 { height: var(--space-23); }  /* 50rem */
.h-5 { height: var(--space-24); }  /* 100rem */
.h-6 { height: var(--space-25); }  /* 125rem */
.h-7 { height: var(--space-26); }  /* 150rem */

/* PERCENTAGE */
.h-25  { height: var(--h-25); }    /* 25% */
.h-50  { height: var(--h-50); }    /* 50% */
.h-75  { height: var(--h-75); }    /* 75% */
.h-95  { height: var(--h-95); }    /* 95% */
.h-100 { height: var(--h-100); }   /* 100% */

/* VIEW HEIGHT AND AUTO */
.h-screen { height: var(--vh-100); } /* 100vh */
.h-auto   { height: var(--auto); }   /* auto */


/* ---------- MAX HEIGHT UTILITIES ---------- */
.max-h-1 { max-height: var(--space-20); }
.max-h-2 { max-height: var(--space-21); }
.max-h-3 { max-height: var(--space-22); }
.max-h-4 { max-height: var(--space-23); }
.max-h-5 { max-height: var(--space-24); }
.max-h-6 { max-height: var(--space-25); }
.max-h-7 { max-height: var(--space-26); }

.max-h-full   { max-height: var(--h-100); }
.max-h-screen { max-height: var(--vh-100); }

/* ---------- MIN HEIGHT UTILITIES ---------- */
.min-h-1 { min-height: var(--space-20); }
.min-h-2 { min-height: var(--space-21); }
.min-h-3 { min-height: var(--space-22); }
.min-h-4 { min-height: var(--space-23); }
.min-h-5 { min-height: var(--space-24); }
.min-h-6 { min-height: var(--space-25); }
.min-h-7 { min-height: var(--space-26); }
