

.auth-main-body{
  height: 100vh;
  display: flex;
}

.auth-content{
  width: 50%;
  padding: 2.5rem 8rem 2.5rem 10rem;
  background-color: var(--color-primary);
  opacity: 0.5;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.auth-content-body{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.auth-content-body h1{
  font-weight: var(--font-weight-semibold);
}

.auth-content-body p{
  max-width: 30rem;
}


/* ---------- REGISTER ---------- */
.auth-container{
  width: 50%;
  padding: 5rem 14rem 5rem 14rem;
  display: flex;
  flex-direction: column;
}

.auth-container h3{
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
  margin-bottom: 3rem;
}

.auth-container .form{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-container .form-field{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.auth-container .form-label{
  font-size: var(--text-base);
}

.auth-container .form-input{
  width: 30rem;
  border-bottom: 1px solid var(--color-black);
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  box-shadow: none;
  background: transparent;
  color: var(--color-black);
  font-size: var(--text-base);
}

.auth-container input::placeholder{
  font-size: var(--text-sm);
  color: #999;
}

.auth-container .form-password{
  width: 30rem;
  border-bottom: 1px solid var(--color-black);
  display: flex;
  justify-content: space-between;
}

.auth-container .form-input-password{
  border: none;
  outline: none;
  background: transparent;
}

.auth-container .error{
  font-size: var(--text-sm);
  color: var(--color-error);
}

.auth-container .btn-password{
  border: none;
  cursor: pointer;
}

.auth-container .btn-container{
  margin-top: 2rem;
  max-width: 30rem;
  height: 5rem;
  border-radius: 5rem;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container .btn-container:hover{
  background-color: var(--color-primary-light);
}

.auth-container .btn-submit{
  color: var(--color-white);
  font-size: var(--text-h3);
  width: 100%;
  height: 5rem;
  border: none;
  border-radius: 5rem;
  background: var(--color-primary);
  cursor: pointer;
}

.auth-container .btn-submit:hover{
  background-color: var(--color-primary-light);
}