
:root{

  /* ---------------------- COLOR SYSTEM ---------------------- */
  --color-primary-light: #cccaef;
  --color-primary: #807AD8;
  --color-primary-dark: #403d6c;

  --color-secondary-light: #fde5e5;
  --color-secondary: #ac5858;
  --color-secondary-dark: #7b3f3f;

  --color-grey: #0b032d;
  --color-grey-light: #e7e6ea;
  --color-grey-dark: #040112;
  --color-white: #fff;

  --color-error: #E63946;
  --color-warn: #ffb997;

  /* ---------------------- SHADOW COLOR VARIABLES ---------------------- */
  /* PRIMARY SHADOWS */
  --shadow-primary-light: rgba(204, 202, 239, 1);   /* #cccaef */
  --shadow-primary: rgba(128, 122, 216, 1);         /* #807AD8 */
  --shadow-primary-dark: rgba(64, 61, 108, 1);      /* #403d6c */

  --shadow-primary-light-50: rgba(204, 202, 239, 0.50);   /* #cccaef */
  --shadow-primary-50: rgba(128, 122, 216, 0.50);         /* #807AD8 */
  --shadow-primary-dark-50: rgba(64, 61, 108, 0.50);      /* #403d6c */

  /* SECONDARY SHADOWS */
  --shadow-secondary-light: rgba(253, 229, 229, 0.50); /* #fde5e5 */
  --shadow-secondary: rgba(246, 126, 125, 0.50);       /* #f67e7d */
  --shadow-secondary-dark: rgba(123, 63, 63, 0.50);    /* #7b3f3f */

  /* GREY SHADOWS */
  --shadow-grey-light: rgba(231, 230, 234, 0.30);      /* #e7e6ea */
  --shadow-grey: rgba(11, 3, 45, 0.30);                /* #0b032d */
  --shadow-grey-dark: rgba(4, 1, 18, 0.30);            /* #040112 */

  /* STATUS SHADOWS */
  --shadow-error: rgba(230, 57, 70, 0.30);             /* #E63946 */
  --shadow-warn: rgba(255, 185, 151, 0.30);            /* #ffb997 */


/* ---------------------- FONT SYSTEM ---------------------- */

  /* FONT SIZE */
  --text-sm: 1.2rem;
  --text-base: 1.6rem;
  --text-h5: 2.0rem;
  --text-h4: 2.4rem;
  --text-h3: 3.2rem;
  --text-h2: 4.0rem;
  --text-h1: 4.8rem;

  /* FONT-WEIGHT */
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 800;

   /* FONT FAMILY */
  --font-sans: "Poppins", sans-serif;

  /* FONT COLOR */
  --text-primary: var(--color-primary);
  --text-primary-dark: var(--color-primary-dark);
  --text-grey-light: var(--color-grey-light);
  --text-grey-dark: var(--color-grey-dark);
  --text-white: var(--color-white);
  --text-error: var(--color-error);
  --text-warn: var(--color-warn);

   /* LINE HEIGHT */
  --leading-tight: 1.2;
  --leading-normal: 1.5;

  /* LETTER SPACING */
  --tracking-tight: -2px;


  
  /* ---------------------- BORDER SYSTEM ---------------------- */
  --border-1: 1px;
  --border-2: 2px;
  --border-3: 3px;
  --border-4: 4px;
  --border-5: 5px;

  --radius-none: 0;
  --radius-5: 0.5rem;
  --radius-10: 1rem;
  --radius-15: 1.5rem;
  --radius-20: 2.8rem;
  --radius-25p: 25%;   /* percentage */
  --radius-50p: 50%;   /* percentage */


  /* ---------------------- SPACING SYSTEM ---------------------- */

  /* 1rem = 10px */
  --space-xxs: 0.2rem;
  --space-xs: 0.3rem;
  --space-sm: 0.4rem;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2.0rem;
  --space-5: 2.5rem;
  --space-6: 3.0rem;
  --space-7: 3.5rem;
  --space-8: 4.0rem;
  --space-9: 4.5rem;
  --space-10: 5.0rem;
  --space-11: 5.5rem;
  --space-12: 6.0rem;
  --space-13: 7.0rem;
  --space-14: 8.0rem;
  --space-15: 9.0rem;
  --space-16: 10rem;
  --space-17: 12.5rem;
  --space-18: 15.0rem;
  --space-19: 20.0rem;
  --space-20: 25.0rem;
  --space-21: 30.0rem;
  --space-22: 35.0rem;
  --space-23: 40.0rem;
  --space-24: 45.0rem;
  --space-25: 50.0rem;
  --space-26: 55.0rem;
  --space-27: 100.0rem;

  /* PERCENTAGE SPACE */
  --space-25p: 25%;
  --space-50: 50%;
  --space-75: 75%;
  --space-85: 85%;
  --space-95: 95%;
  --space-100: 100%;

  /* PERCENTAGE WIDTH */
  --w-25p: 25%;
  --w-50: 50%;
  --w-75: 75%;
  --w-85: 85%;
  --w-95: 95%;
  --w-95p: 99.8%;
  --w-100: 100%;

  /* PERCENTAGE HEIGHT */
  --h-25p: 25%;
  --h-50: 50%;
  --h-75: 75%;
  --h-85: 85%;
  --h-95: 95%;
  --h-100: 100%;

  /* VIEWPORT SIZE */
  --vw-100: 100vw;
  --vh-100: 100vh;

  /* AUTO */
  --auto: auto;

}


html{
  font-size: 62.5%; /* 62.5% of 16px(1rem browser) => 1rem = 10px */
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body{
  font-size: var(--text-base);
  font-weight: var(--font-weight-normal);
  font-family: var(--font-sans);
  color: var(--color-grey-dark);
}

h1{
  font-size: var(--text-h1);
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-tight);
}

h2{
  font-size: var(--text-h2);
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-tight);
}

h3{
  font-size: var(--text-h3);
  font-weight: var(--font-weight-semibold);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-tight);
}

h4{
  font-size: var(--text-h4);
  font-weight: var(--font-weight-semibold);
}

h5{
  font-size: var(--text-h5);
  font-weight: var(--font-weight-semibold);
}

.btn-sm { padding: var(--space-1) var(--space-2); }
.btn-md { padding: var(--space-2) var(--space-4); }



/* 1200px */
@media (max-width: 75rem) {
  html {
    font-size: 62.5%; /* 1rem = 10px */
  }

  input::placeholder { font-size: var(--text-base); }
  select { font-size: var(--text-base); }
}


/* 1000px (62.5 x 16px) */
@media (max-width: 62.5rem) {
  html {
    font-size: 50%; /* 1rem = 8px */
  }

  /* --------- UI COMPONENTS --------- */
  input::placeholder { font-size: var(--text-base); }
  select { font-size: var(--text-base); }

  /* ---------- REGISTER AND LOGIN PAGE ---------- */
  section.auth-form { padding: var(--space-2) var(--space-16); }
}


/* 800px */
@media (max-width: 50rem) {
  html {
    font-size: 44%; /* 1rem = 7.04px */
  }

  /* --------- UI COMPONENTS --------- */
  .btn-md {padding: var(--space-1) var(--space-2); }

  /* ---------- REGISTER AND LOGIN PAGE ---------- */
  section.auth-section, section.auth-form { padding: var(--space-2) var(--space-13); }
  p.auth-section { padding-right: var(--space-8); }

  /* ---------- PROFILE PAGE ---------- */
  div.profile-btn {margin-right: var(--space-2);}

}


/* 600px */
@media (max-width: 37.5rem) {
  html { font-size: 44%; /* 1rem = 7.04px */ }

  h1 { font-size: var(--text-h2); letter-spacing: 1.4; }
  h2 { font-size: var(--text-h3); letter-spacing: 1.4; }
  h3 { font-size: var(--text-h4); letter-spacing: normal; }

  /* ---------- HOME PAGE ---------- */
  img.hero-section { height: var(--space-21); max-width: var(--space-23); }

  /* ---------- REGISTER AND LOGIN PAGE ---------- */
  section.auth-section {
    padding: var(--space-2) var(--space-2) var(--space-2) var(--space-12);
  }
  section.auth-form {padding: var(--space-2) var(--space-11); }
  p.auth-section { padding-right: var(--space-5); }
  h3.auth-section { margin-bottom: var(--space-8); }

  /* ---------- PROFILE PAGE ---------- */
  section.profile-info-section { padding: var(--space-5) var(--space-3); }
  .sidebar {
    padding-top: var(--space-5);
    position: absolute;
    background-color: var(--color-white);
    box-shadow: var(--space-1) 0 0 var(--shadow-grey-dark);
  }
}


/* 450.4px */
@media (max-width: 28.15rem) {
  html { font-size: 37.5%; }/* 1rem = 6px */
  h1 { font-size: var(--text-h2); letter-spacing: normal; }
  h2 { font-size: var(--text-h3); letter-spacing: normal; }

  section.auth-section{ padding: var(--space-2) var(--space-6); }
  section.auth-form { padding: var(--space-2) var(--space-8); }

  /* ---------- PROFILE PAGE ---------- */
  .btn-md { font-size: var(--text-base); }
  section.profile-info-section {
    height: var(--space-16);
    padding: var(--space-3) var(--space-3);
  }
  div.profile-info-section { height: var(--space-10); width: var(--space-10); }
  form.profile-form { width: var(--space-75); }
}


/* 350px */
@media (max-width: 21.875rem) {
  html { font-size: 34.5%; } /* 1rem = 5.52px */

  /* ---------- REGISTER AND LOGIN PAGE ---------- */
  section.auth-section { display: none; }
  section.auth-form {
    width: var(--w-100);
    padding: var(--space-2) var(--space-15);
  }
  form.auth-form { gap: var(--space-5); }
  
  /* ---------- DESKTOP ADMIN & STUDENT LAYOUT ---------- */
  div.layout { max-width: var(--w-85);}

  /* ---------- PROFILE PAGE ---------- */
  .btn-md { font-size: var(--text-sm); }
  div.profile-info-section { display: none; }

}


/* 250px */
@media (max-width: 15.625rem) {
  
  /* ---------- REGISTER AND LOGIN PAGE ---------- */
  section.auth-form { padding: var(--space-2) var(--space-10); }
}

