

.stats{
  margin: 10rem 8rem 15rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* row-gap: 5rem; */
  column-gap: 3.6rem;
  justify-content: center;
  align-items: center;
}

.stats-item{
  width: 100%;
  height: 80%;
  padding: 2rem 1.5rem 2rem 1.5rem;
  border-radius: 3px;
  background-color: var(--color-primary-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.5rem;
}

.stats-item h1{
  font-weight: var(--font-weight-normal);
}

.stats-item p{
  font-size: var(--text-h4);
}

