

.main{
  height: 100%;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* ---------- HEADER SECTION ---------- */
.header-section{
  width: 90%;
  height: 30%;
  padding: var(--space-4xl) var(--space-xl) 0 0;
}

.header-section-items{
  padding: var(--space-xl);
  border: 1px solid var(--color-grey);
  box-shadow: 3px 3px var(--color-grey);
}



/* ---------- CONTROL SECTION ---------- */

.control-section{
  height: 10%;
  margin-top: var(--space-2xl);
  padding: 0 var(--space-2xl);
}

.control-section-buttons{
  display: flex;
  flex-direction: row;
  gap: var(--space-xl);
}

.filter{
  margin-top: var(--space-4xl);
  display: flex;
  gap: var(--space-6xl);
}

.filter-buttons{
  display: flex;
  gap: var(--space-md);
}



/* ---------- CONTROL SECTION ---------- */
.table-section{
  height: 60%;
  padding: 0 var(--space-2xl);
  overflow: scroll;
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  text-indent: 0;
  margin-top: var(--space-5xl);
}

th {
  font-weight: var(--font-weight-normal);
  text-align: center;
  padding: 1px;
  border-bottom: 2px solid var(--color-grey);
}

td {
  text-align: left;
  padding: var(--space-md);
  border-top: 1px solid var(--color-grey);
  border-bottom: 2px solid var(--color-grey);
  overflow: hidden;
}

tr {
  vertical-align: middle;
}

.actions{
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 100%;
}


/* Modal Overlay - dark transparent background */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal box itself */
.modal-content {
  background: white;
  padding: 4rem;
  border-radius: 12px;
  width: 60%;
  height: 70%;
  max-width: 60rem;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.2s ease-in-out;
}

.modal-content-file{
  max-width: 80rem;
}

.modal-content h4{
  margin-bottom: 3rem;
}

/* Close button */
.modal-close {
  position: absolute;
  top: 10px;
  right: 1.5rem;
  background: none;
  border: none;
  border-radius: 3px;
  padding: 2px 4px 2px 4px;
  font-size: var(--text-base);
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-warn);
}


/* Simple animation */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}



/* ---------- FORM ---------- */
.main-form{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.main-form-input{
  display: flex;
  gap: 1.2rem;
}

.main-form-input input, .main-form-input select{
  font-size: var(--text-base);
  width: 20rem;
  height: 3rem;
}

.main-form-input textarea{
  width: 40rem;
  height: 20rem;
}

.upload-file-container{
  margin-top: 2rem;
  display: flex;
  gap: 5rem;
}

.course-select{
  padding: 5px;
  border: 1px solid var(--color-black);
  border-radius: 3px;
  height: 10rem;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}



/* ---------- BUTTONS ---------- */

.btn-pg, .btn-sm, .btn-dg, .btn-md, .btn-lg, .btn-grey{
  width: fit-content;
  border: none;
  border-radius: 3px;
  color: var(--color-white);
  cursor: pointer;
}

.btn-sm, .btn-md, .btn-lg{
  background-color: var(--color-secondary);
}



/* button pagination */
.btn-pg{
  margin: 1rem;
  padding: 3px 4px 3px 4px;
  color: var(--color-black);
  background-color: var(--color-primary-light);
}

/* button small */
.btn-sm{
  padding: 3px 6px 3px 6px;
}

/* button danger */
.btn-dg{
  padding: 3px 4px 3px 4px;
  background-color: var(--color-warn);
}

/* button medium */
.btn-md{
  padding: 4px 6px 4px 6px;
}

/* button large */
.btn-lg{
  padding: 4px 6px 4px 6px;
}


.btn-grey{
  padding: 3px 4px 3px 4px;
  background-color: var(--color-grey);
}
