name: UnibenEngVault CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    env:
      FLASK_ENV: test
      TEST_DB_URL: "postgresql+psycopg2://testuser:testpass@localhost:5432/testdb"
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
      SESSION_NAME: ${{ secrets.SESSION_NAME }}
      SESSION_DURATION: ${{ secrets.SESSION_DURATION }}

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: testuser
          POSTGRES_PASSWORD: testpass
          POSTGRES_DB: testdb
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U testuser -d testdb"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
  
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10.12'
  
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install python-slugify
        pip install psycopg2-binary

    - name: Wait for Postgres
      run: |
        until pg_isready -h localhost -p 5432 -U testuser; do
          echo "Waiting for Postgres..."
          sleep 1
        done

    - name: Run tests
      run: |
        export PYTHONPATH=$PYTHONPATH:$(pwd)
        pytest

  # deploy:
  #   name: Deploy UnibenEngVault
  #   runs-on: ubuntu-latest
  #   needs: test

  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v3

  #     - name: Setup SSH
  #       uses: webfactory/ssh-agent@v0.9.1
  #       with:
  #         ssh-private-key:

  #     - name: Deploy to Droplet
  #       run: |
  #         ssh -o StrictHostKeyChecking=no ${{ secrets.DROPLET_USER }}@${{ secrets.DROPLET_HOST }} << 'EOF'
  #           echo "Pulling latest code..."
  #           cd /root/UnibenEngVault
  #           git pull origin main

  #           echo "Checking Docker service status..."
  #           if ! systemctl is-active --quiet docker; then
  #             echo "Docker is not running. Attempting to start..."
  #             systemctl start docker
  #           fi

  #           echo "Docker service status:" 
  #           systemctl status docker --no-pager | head -n 10

  #           echo "Testing Docker daemon access..."
  #           if ! docker ps > /dev/null 2>&1; then
  #             echo "ERROR: Docker daemon is unreachable. Aborting deployment."
  #             exit 1
  #           fi

  #           echo "Bringing up containers with Docker Compose..."
  #           docker compose down
  #           docker compose up -d --build
  #         EOF
